<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{% block title %}{% endblock %} - BG's WEBSHOP</title>
    <link rel="icon" href="favicon.png" type="image/x-icon">
    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/superhero/bootstrap.min.css" rel="stylesheet"> 
    <link href="/style.css" rel="stylesheet">
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
         
          <a class="navbar-brand" href="{{ 'main' | route }}">BG's WEBSHOP</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            {% if currentUser %}
            <li><a href="{{ 'profile' | route }}">Profile</a></li>
            <li><a href="{{ 'do_logout' | route }}">Exit</a></li>
            {% else %}
            <li><a href="{{ 'login' | route }}">LogIn</a></li>
            <li><a href="{{ 'register' | route }}">Registration</a></li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>
    <div class="app-container">
      <div class="container">
        {% block content %}{% endblock %}
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    {% block scripts %}{% endblock %}
  </body>
</html>
